# Database PostgreSQL (Ganti dengan kredensial database Anda)
DATABASE_URL="postgresql://user:qazwsx@localhost:5432/nexora_db?schema=public"

# Email Service (Resend API Key - Dapatkan di resend.com)
RESEND_API_KEY="re_gcwVP4P8_Gaa9ufvmJLxBxxhG9NnocorK"
CONTACT_EMAIL_DESTINATION="rizkaldwip@gmail.com"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"